<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haoge.component.demo">

    <application
        tools:replace="android:label"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/main_label"
        android:supportsRtl="true">

        <activity android:name="com.haoge.demo.componentsocial.SocialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>